@page "/"
@namespace TodoAndWorkLog.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoAndWorkLog</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <environment include="Development">
        @* 開發階段後端重新編譯後自動刷新網頁 *@
        <script>
            function connect(reloadPage) {
                let watchDog = new WebSocket(`wss://${location.host}/ws`);

                watchDog.onopen = function () {
                    if (reloadPage)
                        location.reload();
                    else
                        console.log("連線成功")
                }

                watchDog.onclose = function () {
                    console.log('連線中斷，將在1秒後重新連線');
                    setTimeout(function () {
                        connect(true);
                    }, 100);
                };

                watchDog.onerror = function () {
                    watchDog.close();
                };
            }

            connect();
        </script>
    </environment>
</body>
</html>
