@page "/counter"
@using Entities
@inject Services.AppService services

<h1>Counter</h1>
<MySelect TItem="Project"
          Items="Projects"
          NameSelector="item=>item.Name"
          ValueSelector="item=>item.Id"
          @bind-Value="value"/>
@(value)

<ul>
    @foreach (var project in Projects)
    {
        <li>@(project.Name)</li>
    }
</ul>

<input type="text" @bind="newProjectName" />
<button @onclick="AddProject">新增專案</button>

@code {
    private Project[] Projects;

    private string newProjectName = "";

    private string value = null;

    protected override async Task OnInitializedAsync()
    {
        LoadData();
    }

    private void LoadData()
    {
        Projects = services.GetProjects();
    }

    private void AddProject()
    {
        services.InsertPost(new Project
        {
            Name = newProjectName
        });
        newProjectName = "";
        LoadData();
    }
}
