@page "/"

@using Entities
@inject Services.AppService _appService
<BsListGroup TItem="WorkItem"
             Items="Items"
             ChildrenSelector="item=>item.Children"
             Parent="(WorkItem?)null">
    <SlotItem >
        @context.Name @context.Description @context.RecordTime
    </SlotItem>
    <SlotHeader>
        <div>
            <WorkItemAdder ParentId="@context?.Id"
                           WorkItemAdded="LoadData" />
        </div>
        
    </SlotHeader>
</BsListGroup>

@code {
    private WorkItem[] Items = Array.Empty<WorkItem>();

    protected override void OnInitialized()
    {
        LoadData();
    }

    public void LoadData()
    {
        Items = _appService.GetWorkItems();
    }

}
