@page "/"

@using Entities
@inject Services.AppService _appService
<AppTreeList TItem="WorkItem"
             Items="Items"
             ChildrenSelector="item=>item.Children"
             Parent="(WorkItem?)null">
    <SlotItem >
        <WorkItemEditor Item="@context"
                        WorkItemChanged="LoadData" />
    </SlotItem>
    <SlotHeader>
        <div>
            <WorkItemEditor ParentId="@context?.Id"
                            WorkItemChanged="LoadData" />
        </div>
    </SlotHeader>
</AppTreeList>

@code {
    private WorkItem[] Items = Array.Empty<WorkItem>();

    protected override void OnInitialized()
    {
        LoadData();
    }

    public void LoadData()
    {
        Items = _appService.GetWorkItems();
    }

}
