@page "/"

@using Entities
@inject Services.AppService _appService

<BsListGroup TItem="WorkItem"
             Items="Items"
             NameSelector="item=>item.Name"
             ChildrenSelector="item=>item.Children"
             Parent="(WorkItem?)null">
    <SlotFooter>
        <div>context ID: @context?.Id</div>
        <div>context PID: @context?.ParentId</div>
        <div>context Name @context?.Name</div>
        <WorkItemAdder ParentId="@context?.Id"
                       WorkItemAdded="LoadData" />
    </SlotFooter>
</BsListGroup>

@code {
    private WorkItem[] Items = Array.Empty<WorkItem>();

    protected override void OnInitialized()
    {
        LoadData();
    }

    public void LoadData()
    {
        Items = _appService.GetWorkItems();
    }

}
