@if(Show){
<div class="alert app-alert @TypeClass"
     role="alert"
     @onclick="Close">
  @if(Slot != null)
    @Slot
  else if(!string.IsNullOrWhiteSpace(Message))
    @Message
</div>
}
<style>
    .app-alert{
        cursor: pointer;
    }
</style>

@code{
    public enum AlertType{
        Primary,
        Secondary,
        Success,
        Danger,
        Warning,
        Info
    }

    [Parameter]
    public RenderFragment? Slot { get; set; }

    private string? Message { get; set; }

    private AlertType Type { get;set;} = AlertType.Primary;

    public string TypeClass => $"alert-{Type.ToString().ToLower()}";

    private bool Show {get;set;}

    public async Task ShowMessage(AlertType type,string message){
        Console.WriteLine("!");
        Type = type;
        Message = message;
        Show = true;
        this.StateHasChanged();
        await Task.Delay(1000);
        Show = false;
        this.StateHasChanged();
        
    }

    private void Close(){
        Show = false;
    }
}