@using Entities
@inject Services.AppService _appService

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">工項名稱/描述</span>
  </div>
  <input type="text"
         class="form-control"
         @bind="Name"
         @onkeyup="OnKeyUp">
  <input type="text"
         class="form-control"
         @bind="Description"
         @onkeyup="OnKeyUp">
</div>

@code{
    [Parameter]
    public string? ParentId {get;set;}

    [Parameter]
    public EventCallback WorkItemAdded {get;set;}

    private string Name {get;set;} = "";
    private string Description {get;set;} = "";

    private void OnKeyUp(KeyboardEventArgs e){
        if(e.Key != "Enter")return;
        _appService.AddWorkItem(new WorkItem
        {
            ParentId = ParentId,
            Name = Name,
            Description = Description,
        });
        WorkItemAdded.InvokeAsync(this);
    }
}